
.intro-container {
    min-height: 100vh;
    margin-top: 4.7rem;
    background: url(../img/main-bg.svg) fixed;
    background-size: cover;
}

.main-intro {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem 4rem;
    min-height: 100vh;
}

.intro-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    color: white;
}

.intro-text > h2 {
    margin-bottom: 4rem;
}

.intro-text > p {
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.315);
    line-height: 1.5;
}

.intro-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-img > img {
    max-width: 100%;
    height: auto;
}