/* ESTILO DA SEÇÃO DE MEDIAS QUERIES */

@media (max-width: 850px) {
    .intro-container {
        margin-top: 2rem;
    }

    .main-img {
        grid-template-columns:  1fr 1fr;
    }
    .main-nav {
            width: 60%;
    }

    .intro-container {
        min-height: 70vh;
    }

    .main-intro {
        min-height: 70vh;
    }

    .main-intro h2 {
        font-size: 4rem;
    }
}
@media (max-width: 765px) {

    .main-nav {
        width: 60%;
    }

    .main-intro {
        grid-template-columns: 1fr;
    }

    .jobs-content-container {
        grid-template-columns: 1fr;
    }
    
    .contact-content {
        min-width: 100%;
        flex-direction: column;
    }

    .content {
        min-width: 100%;
    }
    .content {
        min-width: 100%;
    }

    .main-contact-img {
        width: 100%;
    }
    
    .main-contact-img img {
        width: 100%;
    }
}
@media (max-width: 667px) {

    .main-img {
        grid-template-columns:  1fr;
    }

    h2 {
         font-size: 4rem;
    }

    .img-container {
        min-width: 100%;
        max-width: 100%;
    }

    .img-container img {
        width: 100%;
        transition: all 300ms ease-in-out;
    }
}

@media (min-width: 320px) and (max-width: 665px) {

    p {font-size: 1.6rem;}

    .main-header, ul{
        flex-direction: column;
        text-align: center;
    }

    .main-header li {
        padding: 0.5rem;
    }

    .intro-container {
        position: relative;
    }

    #menu-hamb-main {
        position: absolute;
        display: none;
        justify-content: center;
        width: 40%;
        top: 7rem;
        right: 0;
        padding: 1rem;
        border-radius: 0 0 0 5rem;
        background-color: #fff;
    }

    .logo {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    #menu-hamb {
        display: block;
        cursor: pointer;
        font-size: 4rem;
        color: #0a1128;
        user-select: none;
    }
}


