/* CSS DOS TOP 3*/

.top3-container {
    min-height: auto;
    background: #fff;
}

.main-top3 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 64rem;
    height: auto;
    margin: 0 auto;
    padding: 6rem 3rem;
}

.main-top3 > h2 {
    padding-top: 3rem;
    margin-bottom: 4rem;
    color: #0a1128;
}

.main-top3 > p {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 3rem;
}