/* CSS DOS TOP 3 JOBS */

.recent-jobs-container,
.top3-jobs-container {
    min-height: auto;
    margin-top: 4.7rem;
    background: url(../img/main-bg.svg) fixed;
    background-size: cover;
}

.main-top3-jobs {
    display: flex;
    flex-flow: column wrap;
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem 3rem;
}

.tittle-jobs {
    margin-bottom: 4rem;
}

.tittle-jobs > h2 {
    padding-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;
}

.tittle-jobs > p {
    color: #fff;
}

.jobs-content-container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2rem;
}

.jobs-content {
    padding: 2rem;
    color: #fff;
}

.jobs-content span {
    font-size: 8rem;
    margin-right: 2rem;
    transform: rotate(20deg);
}

.jobs-content h3 {
    display: flex;
    align-items: center;
    font-size: 3rem;
}